<a href="https://colab.research.google.com/github/pornnatchaaa/02739242_700/blob/main/Collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('single quote')

single quote

In [ ]:
print("hello"+"hello")
print("hello"+""+"world")
print("hello","world","!","R2DE")

hellohello
helloworld
hello world ! R2DE

In [ ]:
# Int
a=1
a

1

In [ ]:
#Float
float(a)

1.0

In [ ]:
#This is comment

In [ ]:
#String
str(a)

'1'

แปลง a ให้เป็นตัวเลขโดยใส่ str

In [ ]:
str(a) + "1"

'11'

In [ ]:
print(1+2+3)

6

In [ ]:
bool(a)

True

In [ ]:
bool(None)

False

In [ ]:
bool(0)

False

ตัวแปรไม่มีค่าเป็น none จะเป็น false

คำสั่ง type () เป็นคำสั่งที่ไว้ตรวจสอบประเภท

In [ ]:
type(a)

int

In [ ]:
type(b)

NameError: name 'b' is not defined

In [ ]:
#ทบทวนตัวแปร
print(a,type(a))
print(b,type(b))

1 <class 'int'>
1 <class 'int'>

การจะสร้าง list ใช้เครื่องหมาย []

In [ ]:
empty_list=[]
print(empty_list)

[]

การสร้าง list จากตัวแปรที่สร้างขึ้น

In [ ]:
b=1
l =[b,a,a+1,a+2]
l

[1, 1, 2, 3]

การดูสมาชิกใน list ใช้ len()

In [ ]:
len(l)

4

In [ ]:
l[3]

NameError: name 'l' is not defined

เรียกดูค่า list ตัวที่ 3

In [ ]:
l

[1, 1, 2, 3]

การเพิ่มสมาชิกต่อท้าย list ใช้  append

In [ ]:
l.append(":)")
l

[1, 1, 2, 3, ':)']

In [ ]:
len(l)

5

คำสั่ง pop() คือการ remove สมาชิกตัวสุดท้ายของ list

In [ ]:
l.pop()
l

[1, 1, 2, 3]

In [ ]:
t= (0,1,2,3,4,5)

In [ ]:
len(t)

6

In [ ]:
t[0:3]

(0, 1, 2)

คือการเรียกตำแหน่งที่ 0-3

In [ ]:
t[-1]

5

การเข้าถึงข้อมูลตัวที่ 3 จากท้ายสุด จนถึงตัวสุดท้าย

In [ ]:
t[-3:]

(3, 4, 5)

In [ ]:
t[:-3]

(0, 1, 2)

dict ={} เพื่อสร้าง dict เปล่า

In [ ]:
grade={
    "A" : 80,
    "B":70,
    "C":60,
    "D":50
}
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
grade["A"]

80

In [ ]:
grade["B+"]=75
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
d={}
d["s001"]="Perth"
d["s002"]="Fon"

In [ ]:
d["s001"]

'Perth'

In [ ]:
sentence = "Hello Python. I am ready"

In [ ]:
sentence[1]

'e'

In [ ]:
sentence[0]

'H'

String จะคล้ายคลึงกับ list ตรงที่สามารถดูค่าตาม index ที่ระบุตำแหน่งได้

In [ ]:
sentence[1:13]

NameError: name 'sentence' is not defined

strip คือการลบช่องว่างหัวท้าย

In [ ]:
sentence.strip()

'Hello Python. I am ready'

In [ ]:
list_of_words= sentence.strip().split(' ')

In [ ]:
corgi = ' '.join(list_of_words)
corgi

'Hello Python. I am ready'

for loop

In [ ]:
#ทบทวนตัวแปร l ตัวเดิม
l

[1, 1, 2, 3]

In [ ]:
for item in l:
  print(item)

1
1
2
3

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#list comprehension
list_t=[i for i in t]

In [ ]:
[i+1 for i in range(100)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

การวน for loop เพื่อที่จะได้ output

In [ ]:
if len(t)==5:
  print('length is 5')
else:
  print('length not equals 5')

NameError: name 't' is not defined

In [ ]:
#ทบทวน grade ตัวแปรเดิม
grade

NameError: name 'grade' is not defined

In [ ]:
score =75
if score >= grade["A"]:
  print("A")
elif score >= grade["B+"]:
  print("B+")
elif score >= grade["B"]:
  print("B")
elif score >= grade["C"]:
  print("C")
elif score >= grade["D"]:
  print("D")
else:
  print("F")

NameError: name 'grade' is not defined

In [ ]:
import math
math.pi

3.141592653589793

In [ ]:
from math import pi

In [ ]:
import datetime

now = datetime.datetime.now()
now

datetime.datetime(2025, 1, 7, 9, 44, 46, 460224)

In [ ]:
now.isoformat()

'2025-01-07T09:44:46.460224'

In [ ]:
today = datetime.date.today
today

Simple function

In [ ]:
def circle_area(r):
  return math.pi*r*r

circle_area(4)

50.26548245743669

In [ ]:
def rectangle_area(height,width):
  return height*width
rectangle_area(4,5)

20

แปลงค่าเงินโดย rate จะมี default parameter อยู่ที่ 31.33

In [ ]:
def conversion(amount,rate=31.33):
  return amount*rate

conversion(30)

939.9

สามารถปรับเปลี่ยนค่า rate ได้เหมือนฟังก์ชันปกติ ถ้าเกิดมีการใส่ rate มา

In [ ]:
conversion(30,34.3333)

1029.999

working with files

In [ ]:
file = open("output.csv","w")
file.write("date,item,price\n")
file.write("2020-02-02,Milk,26.5\n")
file.write("2020-02-08,Water,7\n")
file.close()

การวนลูป เขียนไฟล์ จาก list ของ table

In [ ]:
header = ("date","item","price")
",".join(header)+"\n"

'date,item,price\n'

In [ ]:
header = ("date","item","price")
content = [
    ("2020-02-07","Milk","26.5"),
    ("2020-02-08","Water","7"),
    ("2020-02-08","Mask","20"),
    ("2020-02-08","Lays","10"),
    ("2020-02-08","Rice","6")
]

file = open('products.csv','w')
file.write(",".join(header)+"\n")
for row in content:
  file.write(",".join(row)+"\n")

file.close()

In [ ]:
with open("products.csv","r") as f:
    product = f.readlines()

product

['date,item,price\n',
 '2020-02-07,Milk,26.5\n',
 '2020-02-08,Water,7\n',
 '2020-02-08,Mask,20\n',
 '2020-02-08,Lays,10\n',
 '2020-02-08,Rice,6\n']

In [ ]:
len(product)

6

pandas ใช้สำหรับอ่านข้อมูลและประมวลไฟล์ ในลักษณะของ dataframe

In [ ]:
import pandas as pd
df = pd.read_csv("sample_data/california_housing_test.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
type(df)

pandas.core.frame.DataFrame

เซฟไฟล์ CSV จาก dataframe

In [ ]:
df.to_csv("new_data.csv")

JSON dump = export JSON

In [ ]:
import json
type(json.dumps(grade))

NameError: name 'grade' is not defined

In [ ]:
json.dumps(grade)

'{"A": 80, "B": 70, "C": 60, "D": 50, "B+": 75}'

In [ ]:
#Save to output file grade.json
json.dump(grade,open("grade.json","w"))

JSON load = import JSON

In [ ]:
students = json.loads('{"student1" : "Perth" , "student2" : "Fon"}')
students

{'student1': 'Perth', 'student2': 'Fon'}